<header>

    <img class="Logimg" width="100"
         src="https://yt3.ggpht.com/ytc/AKedOLSpwKEjB62dDjdIC749iOEDtd3OPP4dusNprvAybA=s900-c-k-c0x00ffffff-no-rj">
    <h1 class="Logotype">Digital Products Studio</h1>
    <nav class="Menu">
        <a class="active" href="/">Home</a>
        <a href="https://requestdesign.ru/">News</a>
        <a href="https://www.instagram.com/svv_studio/">Contact</a>
        <a href="https://www.web-canape.ru/razrabotka-sajta/">Services</a>
    </nav>
</header>